body {
  
  margin: 0;
  padding: 0;

  height: 100vh;

  font-family: Arial, Helvetica, sans-serif;

}

header {
  background-color: #0c2d48;
  grid-area: header;
  padding: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  
  box-sizing: border-box;
}


#tituloheader{
  flex: 1;
  margin-right: auto;
  color: white;
  margin: 0;

  margin-bottom: 10px;
}


#navHeader{
  margin: 0;
  padding: 0;
}

#shortcuts {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

#navButton{
  background-color: #189ab4;
  padding: 5px;
  width: 85px;
  text-align: center;
  color: white;

  border-radius: 5%;
  border: solid;
  border-width: 1px;
  border-color: #d4f1f4;

  margin: 0;

}

#navButton:hover{
  background-color: #15879e;
}

#navButton:active{
  background-color: #0e5766;
}

aside {
  grid-area: aside;
  padding: 10px;
  width: 200px;
  background-color: #189ab4;
  color: white;
  transition: all 0.3s ease;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  
  padding-top: 40%;
}


aside.colapsed{ 
  width: 0;
  padding: 0;
  overflow: hidden;
}

h1{
  margin: 0;
  padding: 0;
}

aside.colapsed nav{
  display: none;
}

#toggle-btn, button{
  background-color: #189ab4;

  border: solid;
  border-width: 1px;
  padding: 8px;
  color: white;
  font-size: 20px;
  cursor: pointer;
  border-color: #d4f1f4;

  display: flex;
  justify-content: flex-start;

  border-radius: 15%;
}

#toggle-btn:hover{
  background-color: #15879e;
}

#toggle-btn:active{
  background-color: #0e5766;
}
nav ul{
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;

  text-align: center;
}

nav li{
  margin: 0;
  padding: 0;
}

nav a{
  color: white;
  text-decoration: none;
  display: block;

}

main {

  grid-area: main;
  padding: 10px;

  border-width: 1px;
  overflow: auto;
  box-sizing: border-box;
  margin: 0;

  margin-right: 5px;
  height: 99%;

  display: flex;
  justify-content: center;
  align-items: center;
}

aside.colapsed nav a span{
  display: none;
}

footer {
  background-color: #0c2d48;
  grid-area: footer;
  padding: 10px;
}

.layout {
  display: grid;
  grid-template-areas: 
    "header header"
    "aside main"
    "footer footer";
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  width: 100%;
  gap: 5px;
}

.MainContainer {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr; /* Dos columnas */
  grid-template-rows: auto auto;  /* Dos filas */
  gap: 10px;
  padding: 10px;
  justify-content: center;
}

#sideMainPanel {
  grid-column: 1; /* El aside ocupa la primera columna */
  grid-row: 1 / span 2; /* Ocupa dos filas */
  background-color: #86f5eaa1;
  padding: 20px;
  border-radius: 26px;
  width: auto;
  }



#Section1 {
  grid-column: 2; /* Section 1 ocupa la segunda columna */
  background-color: #d4f1f4;
  padding: 20px;
  border-radius: 26px;

  margin: 0;
}

#Section2 {
  grid-column: 2; /* Section 2 ocupa también la segunda columna */
  padding: 20px;
  background-color: #d4f1f4;
  border-radius: 26px;
}


.mainPanel{

  height: 100%;

  background-color: #fffffff6;
  color: black;
  border-radius: 16px;
  text-align: center;

  padding-left: 50px;
  padding-right: 50px;

}

.mainSection{
  height: 100%;
  background-color: #fffffff6;
  border-radius: 16px;
  text-align: left;

  padding-left: 50px;
  padding-right: 50px;

}


h1{
  padding-top: 15px;
}

.secondarySection{
  height: 100%;
  background-color: #fffffff6;
  border-radius: 16px;
  text-align: left;

  padding-left: 50px;
}


h3{
  text-align: left;
  margin-left: 35px;
}